<template>
    <div class="add-blog">
        <h1>Add a new Blog</h1>
      <form action="" v-if="!submitted">
        <label>Title</label>
        <input type="text" v-model.lazy="blog.title">
        <label>Content</label>
        <textarea v-model="blog.content" ></textarea>
        <div id="checkBox">
          <h3>chose category</h3>
          <label>Video</label>
          <input type="checkbox" value="video" v-model="blog.category">

          <label>Text</label>
          <input type="checkbox" value="text" v-model="blog.category">

          <label>photo</label>
          <input type="checkbox" value="photo" v-model="blog.category">
        </div>
        <div id="selectBox">
          <label>Author:</label>
          <select v-model="blog.author">
            <option v-for="author in authors">{{ author }}</option>
          </select>
        </div>
        <button @click.prevent="postBlog">Submit</button>
      </form>

      <div v-if="submitted">
          Thanks to submit
      </div>

      <div id="blogPreview">
        <p>Blog Title: <strong>{{ blog.title}}</strong></p>
        <p>Blog Content: {{ blog.content}}</p>
        <p>Blog Category: </p>
        <ul>
          <li v-for="category in blog.category">{{ category }}</li>
        </ul>
        <p>Blog Author: {{ blog.author }}</p>
      </div>
    </div>
</template>

<script>
    export default {
        name: "add-blog",
      data()
      {
        return {
          blog: {
            title: '',
            content: '',
            category: [],
            author: '',
          },
          authors: ['Moksed', 'Tamim', 'Naser', 'Eahiya', 'Rajib'],
          submitted: false,
        }
      },
      methods: {
        postBlog()
        {
          this.$http.post('https://myvueblog-7bf60.firebaseio.com/post.json',this.blog).then(res => {
            console.log(res)
            this.submitted = true
          })
        }
      }
    }
</script>

<style scoped>
.add-blog *{
  box-sizing: border-box;
}
  .add-blog{
    margin: 20px auto;
    max-width: 500px;
    border: 2px double #222222;
    padding: 30px;
  }
  label{
    display: block;
    margin: 20px 0 10px;
    text-align: left;
  }
input[type="text"], textarea{
    width: 100%;
    display: block;
    padding: 8px;
  }
  #blogPreview{
    padding: 10px 20px;
    border: 1px dotted #222222;
    margin: 20px 0;
    text-align: left;
  }
h1{
  padding: 30px;
  background: lightgreen;
  border-radius: 5px;
}
  #checkBox input{
    display: inline-block;
    margin-right: 15px;
  }
#checkBox label{
    display: inline-block;
  }
  #selectBox label{
    display:block;
  }
#selectBox select{
    display:block;
    width: 100%;
    padding: 5px;
    color: white;
    background: #42b983;
  }
</style>
