<template>
    <div id="header">
      <ul>
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/add-blog">Add</router-link></li>
      </ul>
    </div>
</template>

<script>
    export default {
        name: "header"
    }
</script>

<style scoped>
#header{
  width: 100%;
  padding: 20px;
  min-height: 50px;
  background: #222222;
}
#header ul {
    list-style: none;
}
#header ul li {
  list-style: none;
  float: left;
  padding: 10px;
  background: lightgreen;
  border-radius: 5px;
}
#header ul li a{
  display: block;
  text-decoration: none;
  color: #2c3e50;
}
</style>
