<template>
  <div v-theme:column="'narrow'" class="show-blogs">
    <h1>list-blog-titles</h1>
    <input type="text" v-model="search" placeholder="search blog">
    <div class="every-single-blog" v-for="blog in searchBlog">
      <h3 v-rainBow>{{ blog.title | upperCase }}</h3>
    </div>
  </div>
</template>

<script>
  import mixins from "../mixinis/mixins";
  export default {
    name: "list-blog-titles",
    data()
    {
      return {
        blogs: [],
        search: ''
      }
    },
    created() {
      this.$http.get('https://jsonplaceholder.typicode.com/posts')
        .then(res => {
          this.blogs = res.body.splice(0,10);
        })
    },
    computed:{

    },
    filters: {
      upperCase(value)
      {
        return value.toUpperCase();
      },
      lowerCase(value){
        return value.toLowerCase();
      }
    },
    directives: {
      rainBow:
        {
          bind(element, binding, vNode)
          {
            element.style.color = 'red'
          }
        }
    },
    mixins: [
      mixins
    ]
  }
</script>

<style scoped>
  .show-blogs{
    text-align: center;
    margin: 0 auto;
    border: 1px double lightcoral;
    padding: 20px;
  }
  .show-blogs h1{
    padding: 15px;
    background: #42b983;
    text-align: left;
  }
  .every-single-blog{
    padding: 20px;
    background: gray;
    margin-bottom: 20px;
    color: white;
  }
  .every-single-blog h3{

  }
</style>
