<template>
    <div class="every-single-blog">
      <h1>{{ blog.title }}</h1>
      <p>{{ blog.content }}</p>
    </div>
</template>

<script>
    export default {
        name: "single-blog",
      data()
      {
        return {
          id: this.$route.params.id,
          blog:{}
        }
      },
      created() {
          this.$http.get('https://myvueblog-7bf60.firebaseio.com/post/' + this.id + '.json/')
        .then(res => {
          this.blog = res.body;
        })
      }
    }
</script>

<style scoped>
  .every-single-blog{
    padding: 20px;
    background: gray;
    margin-bottom: 20px;
    color: white;
  }
  .every-single-blog h3{

  }
</style>
